<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div className='banner1'>
    <img className='home__image' src='https://images-na.ssl-images-amazon.com/images/I/51GtehXCyOL._AC_SL1000_.jpg'
      alt='amazon-hero' />
    <div className='text-box'>
      <h1>BroadLink Smart</h1>
      <span></span>
      <p>
        Hub-WiFi Remote Control IR Blaster for Smart Life Home Automation,
        TV Remote, Works with Alexa, Google Home, IFTTT (RM4 Mini)
      </p>
    </div>
  </div>
  <div className='banner2'>
    <img className='home__image' src='https://images-na.ssl-images-amazon.com/images/I/91KKKqE7gdL._AC_SL1500_.jpg'
      alt='amazon-hero' />
    <div className='text-box'>
      <h1>Dell New XPS</h1>
      <span></span>
      <p>
        Dell New XPS 13 9300 13.4-inch FHD InfinityEdge Touchscreen Laptop
        (Silver), Intel Core i7-1065G7 10th Gen, 16GB RAM, 512GB SSD.
      </p>
    </div>
  </div>
  <div className='banner3'>
    <img className='home__image' src='https://images-na.ssl-images-amazon.com/images/I/71UddJ3JSLL._AC_SL1500_.jpg'
      alt='amazon-hero' />
    <div className='text-box'>
      <h1>New App Ipad</h1>
      <span></span>
      <p>
        New Apple iPad (10.2-inch, Wi-Fi, 128GB) - Space Gray (Latest Model,
        8th Generation)
      </p>
    </div>
  </div>
  <div className='banner4'>
    <img className='home__image'
      src='https://media.very.co.uk/i/very/P6LTG_SQ1_0000000071_CHARCOAL_SLf?$300x400_retinamobilex2$' alt='uk' />
    <div className='text-box'>
      <h1>New Apple MacBook Pro</h1>
      <span></span>
      <p>
        New Apple MacBook Pro with Apple M1 Chip (13-inch, 8GB RAM, 256GB
        SSD Storage) - Space Gray (Latest Model) About this item
        Apple-designed M1 chip for a giant leap in CPU, GPU, and machine
        learning performance Get more done with up to 20 hours of battery
        life, the longest ever in a Mac.
      </p>
    </div>
  </div>
</body>

</html>